
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <span class="number"><%= count_categories %></span>
      </div>
      <div class="panel-footer text-center">
        <b>Total number of category</b>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <span class="number"><%= count_beers %></span>
      </div>
      <div class="panel-footer text-center">
        <b>Total number of beer</b>
      </div>
    </div>
  </div>
</div>
